<script src="~/Content/vendors/notify/bootstrap-notify.min.js"></script>
<h2 id="clickme" >Nụ nụ cute </h2>
<script src="~/Content/vendors/notify/notify.js"></script>
<script>
    $(document).ready(function () {
        console.log($("#clickme")[0])
        notify("thông báo", "đăng nhập thành công", "", "success")
        $("#clickme")[0].click(function (e) {
            console.log(e)
            notify("thông báo","đăng nhập thành công","","success")
        })
    })
</script>
