@using Web.ASP.models

<!--================Header Menu Area =================-->
<header class="header_area">

    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html">
                    <img src="~/Content/img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <div class="row w-100">
                        <div class="col-lg-7 pr-0">
                            <ul class="nav navbar-nav center_nav pull-right">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/Home/Index">Trang chủ</a>
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cửa hàng</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Category/Index">Sản phẩm</a>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Category/Checkout">Product Checkout</a>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Category/Cart">Giỏ hàng</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Category/Confirmation">Confirmation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <ul class="dropdown-menu">
                                        @{if (!(Session["user"] is null))
                                            {
                                                var u = Session["user"];

                                                <li class="nav-item">
                                                    <a class="nav-link" id="loginsuccess" href="">@u</a>
                                                </li>

                                            }
                                            else
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link" id="loginsuccess" href="/Home/Login">Đăng nhập</a>
                                                </li>
                                            }
                                        }
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Tracking/Index">Theo dõi đơn hàng</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Contact/Index">Liên hệ</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-5">
                            <ul class="nav navbar-nav navbar-right right_nav pull-right">
                                <hr>
                                <li class="nav-item">
                                    <a href="#" class="icons">
                                        <i class="fas fa-search" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <hr>

                                <li class="nav-item submenu dropdown">
                                    <a href="/Home/Login" class="dropdown-toggle nav-link icons" style="font-size:18px">
                                        <i class="fas fa-user" id="icon" aria-hidden="true"></i>
                                    </a>

                                    @if (!(Session["isLogin"] is null))
                                    {
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="">Thông tin của bạn</a>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/Category/Cart">Giỏ hàng</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="logout">Đăng xuất</a>
                                            </li>


                                        </ul>
                                    }


                                </li>

                                <hr>

                                <li class="nav-item">
                                    <a href="#" class="icons">
                                        <i class="lnr lnr-heart" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <hr>

                                <li class="nav-item">
                                    <a href="/Category/Cart" class="icons">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </li>
                                <hr>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
@{
    if (!(Session["isLogin"] is null))
    {
        <script>
            $(document).ready(function () {
                $("#icon").addClass("active");
            });
        </script>
    }
}

<script>
    $("#logout").click(function () {
        $.ajax({
            url: "/Home/Logout",
            type: "GET",
            dataType: "JSON",
            success: function (response) {
                if (response.status == false)
                    notify("Thông Báo", response.message, "fas fa-exclamation-circle", "warning")
                else {
                    notify("Thông Báo", response.message, "fas fa-exclamation-circle", "success")
                    setTimeout(function () {
                        window.location.href = '/' + response.link.controllerName + '/' + response.link.actionName + '';
                    }, 3300);
                }
            },

        })
    })
</script>