

<div class="login_box_img">
    <img class="img-fluid" src="~/Content/img/login8.jpeg" alt="">
    <div class="hover">
        <h4>Team Nụ Nụ</h4>
        <p>Tạo tài khoản để theo dõi đơn hàng, lưu danh sách sản phẩm yêu thích, nhận nhiều ưu đãi hấp dẫn</p>
        <a class="main_btn" id="btn_register" style="display:none" href="/Home/Registration">Tạo tài khoản</a>
    </div>
</div>


