<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/Content/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/vendors/animate-css/animate.css">

    <link rel="stylesheet" href="~/Content/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Content/vendors/jquery-ui/jquery-ui.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/Cus.css" />
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- CSS Files -->

    <script src="~/Scripts/Func.js"></script>
</head>
<body>
    <div id="loading" style="display: none">
        <div class="wave">
            <span style="--c: 1">L</span>
            <span style="--c: 2">o</span>
            <span style="--c: 3">a</span>
            <span style="--c: 4">d</span>
            <span style="--c: 5">i</span>
            <span style="--c: 6">n</span>
            <span style="--c: 7">g</span>
            <span style="--c: 8">.</span>
            <span style="--c: 9">.</span>
            <span style="--c: 10">.</span>
        </div>
    </div>
    @RenderBody()
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/stellar.js"></script>
    <script src="~/Content/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/Content/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/Content/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/vendors/isotope/isotope-min.js"></script>
    <script src="~/Content/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Content/vendors/counter-up/jquery.counterup.js"></script>
    <script src="~/Scripts/mail-script.js"></script>
    <script src="~/Scripts/theme.js"></script>
    <script src="~/Content/vendors/notify/bootstrap-notify.min.js"></script>
    <script src="~/Content/vendors/notify/notify.js"></script>
    <script src="~/Content/vendors/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/vendors/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="~/Content/vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>

</body>
</html>