@model Web.ASP.models.BOOK
<div class="col">
    <div class="f_p_item book_items ">
        <div class="f_p_img">
            <img class="img-fluid" src="~/Content/img/book/book-cover/b-c-1.jpg" alt="">
            <div class="p_icon">
                <a href="#">
                    <i class="lnr lnr-heart"></i>
                </a>
                <a href="#">
                    <i class="lnr lnr-cart"></i>
                </a>
            </div>
        </div>
        <a href="/Category/SingleBook/Index?_id=@Model.C_id">
            <h4>@Model.nameBook</h4>
        </a>
        <h5>@Model.priceBook VND</h5>
    </div>
</div>