
CREATE DATABASE [Manager_Book]

USE [Manager_Book]
GO
/****** Object:  Table [dbo].[AUTH]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTH](
	[_email_ID] [varchar](30) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[powers] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_email_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[_id] [varchar](30) NOT NULL,
	[nameAuthor] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[order_id] [varchar](30) NOT NULL,
	[information_id] [varchar](30) NOT NULL,
	[book_id] [varchar](30) NOT NULL,
	[total] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[information_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[_id] [varchar](30) NOT NULL,
	[nameBook] [nvarchar](50) NOT NULL,
	[priceBook] [float] NOT NULL,
	[contentBook] [nvarchar](max) NULL,
	[countBook] [int] NOT NULL,
	[imgBook_ID] [varchar](30) NOT NULL,
	[categoryBook_ID] [varchar](30) NOT NULL,
	[discountBook_ID] [varchar](30) NULL,
	[publishingHouseBook_ID] [varchar](30) NOT NULL,
	[author_id] [varchar](30) NULL,
	[size] [varchar](30) NULL,
	[numberOfPages] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[information_id] [varchar](30) NOT NULL,
	[book_id] [varchar](30) NOT NULL,
	[count] [int] NULL,
	[order_date] [datetime] NULL,
 CONSTRAINT [PK_CART] PRIMARY KEY CLUSTERED 
(
	[information_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[_id] [varchar](30) NOT NULL,
	[nameCategory] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISCOUNT_BOOK]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOUNT_BOOK](
	[_id] [varchar](30) NOT NULL,
	[discount] [float] NOT NULL,
	[startTime] [date] NOT NULL,
	[endTime] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE_BOOK]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE_BOOK](
	[_id] [varchar](30) NOT NULL,
	[link] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPORT_BOOK]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT_BOOK](
	[book_ID] [varchar](30) NOT NULL,
	[import_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[book_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INFORMATION]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFORMATION](
	[_id] [varchar](30) NOT NULL,
	[nameInformation] [nvarchar](50) NOT NULL,
	[maleInformation] [nvarchar](3) NOT NULL,
	[phoneInformation] [varchar](10) NOT NULL,
	[addressInformation] [nvarchar](50) NOT NULL,
	[birthday] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLISHING_HOUSE]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISHING_HOUSE](
	[_id] [varchar](30) NOT NULL,
	[namePublishingHouse] [nvarchar](100) NOT NULL,
	[phonePublishingHouse] [varchar](10) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEWS]    Script Date: 12/2/2020 9:14:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEWS](
	[book_id] [varchar](30) NOT NULL,
	[information_id] [varchar](30) NOT NULL,
	[review] [nvarchar](max) NOT NULL,
	[star] [int] NOT  NULL,
	[DateOfReview] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC,
	[information_id] ASC,
	[DateOfReview] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AUTH] ([_email_ID], [password], [powers]) VALUES (N'abc@gmail.com', N'123', N'0')
INSERT [dbo].[AUTH] ([_email_ID], [password], [powers]) VALUES (N'lamhan@gmail.com', N'123', N'1')
INSERT [dbo].[AUTH] ([_email_ID], [password], [powers]) VALUES (N'lamlam@gmail.com', N'123', N'0')
GO
INSERT [dbo].[AUTHOR] ([_id], [nameAuthor]) VALUES (N'TG01', N'Tô Hoài')
INSERT [dbo].[AUTHOR] ([_id], [nameAuthor]) VALUES (N'TG02', N'Nguyễn Đình Thi')
INSERT [dbo].[AUTHOR] ([_id], [nameAuthor]) VALUES (N'TG03', N'Văn Thành Lê')
GO
INSERT [dbo].[BOOK] ([_id], [nameBook], [priceBook], [contentBook], [countBook], [imgBook_ID], [categoryBook_ID], [discountBook_ID], [publishingHouseBook_ID], [author_id], [size], [numberOfPages]) VALUES (N'MS02', N'Cái Tết Của Mèo Con', 35000, N'abc', 20, N'img02', N'CT01', NULL, N'NXB6', N'TG02', N'13 x 20 x 10 cm', 123)
INSERT [dbo].[BOOK] ([_id], [nameBook], [priceBook], [contentBook], [countBook], [imgBook_ID], [categoryBook_ID], [discountBook_ID], [publishingHouseBook_ID], [author_id], [size], [numberOfPages]) VALUES (N'MS03', N'Trên đồi, mở mắt và mơ', 35000, N'abc', 10, N'img03', N'CT01', NULL, N'NXB1', N'TG03', N'13 x 20 x 10 cm', 123)
GO
INSERT [dbo].[CART] ([information_id], [book_id], [count], [order_date]) VALUES (N'lamlam@gmail.com', N'MS01', 9, CAST(N'2020-12-02T16:56:22.420' AS DateTime))
INSERT [dbo].[CART] ([information_id], [book_id], [count], [order_date]) VALUES (N'quynh@gmail.com', N'MS01', 2, CAST(N'2020-11-09T00:00:00.000' AS DateTime))
INSERT [dbo].[CART] ([information_id], [book_id], [count], [order_date]) VALUES (N'quynh@gmail.com', N'MS02', 1, CAST(N'2020-11-09T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[CATEGORY] ([_id], [nameCategory]) VALUES (N'CT01', N'Sách Văn Học')
INSERT [dbo].[CATEGORY] ([_id], [nameCategory]) VALUES (N'CT02', N'Hồi ký/Tự Truyện')
INSERT [dbo].[CATEGORY] ([_id], [nameCategory]) VALUES (N'CT03', N'Sách Trẻ Em')
GO
INSERT [dbo].[IMAGE_BOOK] ([_id], [link]) VALUES (N'img01', N'/Content/img/book/book-cover/b-c-HaiConMeo.jpg')
INSERT [dbo].[IMAGE_BOOK] ([_id], [link]) VALUES (N'img02', N'/Content/img/book/book-cover/b-c-CaiTetMeoCon.jpg')
INSERT [dbo].[IMAGE_BOOK] ([_id], [link]) VALUES (N'img03', N'/Content/img/book/book-cover/b-c-TrenDoi.png')
GO
INSERT [dbo].[INFORMATION] ([_id], [nameInformation], [maleInformation], [phoneInformation], [addressInformation], [birthday]) VALUES (N'abc@gmail.com', N'Nụ Nụ Max CuTe', N'Nữ', N'0123456789', N'TPHCM', CAST(N'1999-10-10' AS Date))
INSERT [dbo].[INFORMATION] ([_id], [nameInformation], [maleInformation], [phoneInformation], [addressInformation], [birthday]) VALUES (N'lamlam@gmail.com', N'Lam', N'Nam', N'0123456895', N'HN', CAST(N'2000-01-01' AS Date))
INSERT [dbo].[INFORMATION] ([_id], [nameInformation], [maleInformation], [phoneInformation], [addressInformation], [birthday]) VALUES (N'nunu@gmail.com', N'Nu Nu ', N'#', N'0435437857', N'TPHCM', CAST(N'2000-11-28' AS Date))
GO
INSERT [dbo].[PUBLISHING_HOUSE] ([_id], [namePublishingHouse], [phonePublishingHouse], [address]) VALUES (N'NXB1', N'Kim Đồng', N'0946983948', N'Quận Hoàn Kiếm, Hà Nội')
INSERT [dbo].[PUBLISHING_HOUSE] ([_id], [namePublishingHouse], [phonePublishingHouse], [address]) VALUES (N'NXB2', N'Trẻ', N'0385475289', N'Quận Hai Bà Trưng, Hà Nội')
INSERT [dbo].[PUBLISHING_HOUSE] ([_id], [namePublishingHouse], [phonePublishingHouse], [address]) VALUES (N'NXB3', N'AlphaBook', N'0949573875', N'Quận 1, Thành Phố Hồ Chí Minh')
GO
INSERT [dbo].[REVIEWS] ([book_id], [information_id], [review], [star], [DateOfReview]) VALUES (N'MS01', N'abc@gmail.com', N'Nụ  ngáo', 3, CAST(N'2020-12-02T16:50:02.527' AS DateTime))
INSERT [dbo].[REVIEWS] ([book_id], [information_id], [review], [star], [DateOfReview]) VALUES (N'MS01', N'lamlam@gmail.com', N'Nụ Nụ Cute Quá đi', 5, CAST(N'2020-12-02T16:44:46.407' AS DateTime))
INSERT [dbo].[REVIEWS] ([book_id], [information_id], [review], [star], [DateOfReview]) VALUES (N'MS01', N'nunu@gmail.com', N'sách hay', 4, CAST(N'2020-11-29T00:00:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_BOOK] FOREIGN KEY([book_id])
REFERENCES [dbo].[BOOK] ([_id])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_BOOK]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_INFORMATION] FOREIGN KEY([information_id])
REFERENCES [dbo].[INFORMATION] ([_id])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_INFORMATION]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_AUTHOR] FOREIGN KEY([author_id])
REFERENCES [dbo].[AUTHOR] ([_id])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_AUTHOR]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_CATEGORY] FOREIGN KEY([categoryBook_ID])
REFERENCES [dbo].[CATEGORY] ([_id])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_CATEGORY]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_DISCOUNT_BOOK] FOREIGN KEY([discountBook_ID])
REFERENCES [dbo].[DISCOUNT_BOOK] ([_id])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_DISCOUNT_BOOK]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_IMAGE_BOOK] FOREIGN KEY([imgBook_ID])
REFERENCES [dbo].[IMAGE_BOOK] ([_id])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_IMAGE_BOOK]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_PUBLISHING_HOUSE] FOREIGN KEY([publishingHouseBook_ID])
REFERENCES [dbo].[PUBLISHING_HOUSE] ([_id])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_PUBLISHING_HOUSE]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_BOOK] FOREIGN KEY([book_id])
REFERENCES [dbo].[BOOK] ([_id])
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_BOOK]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_INFORMATION] FOREIGN KEY([information_id])
REFERENCES [dbo].[INFORMATION] ([_id])
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_INFORMATION]
GO
ALTER TABLE [dbo].[IMPORT_BOOK]  WITH CHECK ADD  CONSTRAINT [FK_IMPORT_BOOK_BOOK] FOREIGN KEY([book_ID])
REFERENCES [dbo].[BOOK] ([_id])
GO
ALTER TABLE [dbo].[IMPORT_BOOK] CHECK CONSTRAINT [FK_IMPORT_BOOK_BOOK]
GO
ALTER TABLE [dbo].[INFORMATION]  WITH CHECK ADD  CONSTRAINT [FK_INFORMATION_AUTH] FOREIGN KEY([_id])
REFERENCES [dbo].[AUTH] ([_email_ID])
GO
ALTER TABLE [dbo].[INFORMATION] CHECK CONSTRAINT [FK_INFORMATION_AUTH]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_REVIEWS_BOOK] FOREIGN KEY([book_id])
REFERENCES [dbo].[BOOK] ([_id])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_REVIEWS_BOOK]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_REVIEWS_INFORMATION] FOREIGN KEY([information_id])
REFERENCES [dbo].[INFORMATION] ([_id])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_REVIEWS_INFORMATION]
GO
USE [master]
GO
