
@{
    ViewBag.Title = "Registration";
}

<!--================Header Menu Area =================-->
@Html.Partial("_HeaderComponent")
<!--================Header Menu Area =================-->
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Đăng kí</h2>
                <div class="page_link">
                    <a href="/Home/Index">Trang chủ</a>
                    <a href="/Home/Registration">Đăng kí</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Login Box Area =================-->
<section class="login_box_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/Content/img/login8.jpeg" alt="">
                    <div class="hover">
                        <h4>AQ Bookstore</h4>
   
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner reg_form" style="padding-top: 100px;">
                    <h2 style="font-size: 28px;">Cập nhật lại mật khẩu</h2>
                    <form class="row login_form" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email" value="@ViewBag.userName">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Nhập Mật khẩu Mới">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="pass" name="confirmpassword" placeholder="Xác nhận mật khẩu">
                        </div>
                        <div class="col-md-12 form-group" style="margin-top: 20px;">
                            <div id="submit" class="btn submit_btn">Cập nhật</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
<!--================ start footer Area  =================-->
@Html.Partial("_FooterComponent")
<!--================ End footer Area  =================-->
<script>
    $(document).ready(function () {
        $("#submit").click(function (e) {
            console.log(1);
            var mail = $("#email").val()
            if (mail === "") {
                notify("Thông Báo", "Vui lòng nhập mail", "fas fa-exclamation-circle", "warning")
                return;
            }
            var password = $("#password").val()
            if (password === "") {
                notify("Thông Báo", "Vui lòng nhập mật khẩu mới", "fas fa-exclamation-circle", "warning")
                return;
            }
            var pass = $('#pass').val()
            if (pass === "") {
                notify("Thông Báo", "Vui lòng nhập xác nhận mật khẩu", "fas fa-exclamation-circle", "warning")

                return;
            }
            if (password != pass) {
                notify("Thông Báo", "Mật khẩu và Xác nhận mật khẩu không khớp", "fas fa-exclamation-circle", "warning")
                return;
            }
            var obj = {
                mail_id: mail,
                password: password,
            }
            $.ajax({
                url: "/Home/forgetPassword",
                data: obj,
                success: function (res) {
                    loading(true)
                    if (respone.status == false) {
                        notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "warning")
                        loading(false)
                    }
                    else {
                        notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "success")
                        loading(false)
                        window.location = '/' + respone.link.controllerName + '/' + respone.link.actionName;
                    }
                },
                type: "GET"

            })
         })
    })
</script>

