
@{
    ViewBag.Title = "Login";
}

<!--================Header Menu Area =================-->
@Html.Partial("_HeaderComponent")
<!--================Header Menu Area =================-->
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Đăng nhập/Đăng kí</h2>
                <div class="page_link">
                    <a href="/Home/Index">Trang chủ</a>
                    <a href="/Home/Login">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Login Box Area =================-->


<div id="loadAddInfor">
    <section  class="login_box_area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    @Html.Partial("_ImgLoginRegisterComponent")
                </div>
                <div class="col-lg-6">

                    <div class="login_form_inner">
                        <h2>Đăng nhập</h2>
                        <form class="row login_form" action="/Home/Validate" method="post" id="contactForm" novalidate="novalidate">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="name" name="C_email_ID" value="" placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="pass" name="password" value="" placeholder="Mật khẩu">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option2" name="selector">
                                    <label for="f-option2">Nhớ mật khẩu</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div id="submit" class="btn submit_btn">Đăng nhập</div>
                                <a href="#">Quên mật khẩu?</a>
                                <a href="/Home/LoginFaceBook">LoginFace</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--================End Login Box Area =================-->
<!--================ Subscription Area ================-->
@Html.Partial("_SubscriptionComponent");
<!--================ End Subscription Area ================-->
<!--================ start footer Area  =================-->
@Html.Partial("_FooterComponent")
<!--================ End footer Area  =================-->

<script>
    const ajaxLogin = () => {
        const userName = $("#name").val()
        const pass = $("#pass").val()
        const objData = {
            C_email_ID: userName,
            password: pass
        }
        $.ajax({
            url: "/Home/Validate",
            type: "POST",
            data: objData,
            dataType: "JSON",
            success: function (respone) {
                if (respone.status == false)
                    notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "warning")
                else {
                    notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "success")
                    if (respone.isInfor == false)
                    {
                        ajax('/' + respone.link.controllerName + '/' + respone.link.actionName + '', "#loadAddInfor");
                    }
                    else
                    {
                        const check = document.getElementById("f-option2").checked;
                        if (check && typeof (Storage) !== "undefined") {
                            localStorage.setItem("username", userName);
                            localStorage.setItem("password", pass);
                        }
                        setTimeout(function () {
                            window.location.href = '/' + respone.link.controllerName + '/' + respone.link.actionName + '';
                        }, 3300);
                    }
                }
            }
        })
    }
    $(document).ready(function () {
        if (typeof (Storage) !== "undefined") {
            const user = localStorage.getItem("username");
            const pass = localStorage.getItem("password");
            if (user && pass) {
                document.getElementById("name").value = user
                document.getElementById("pass").value = pass
            }   
        }
        $("#btn_register").css("display", "inline-block");
        $('input').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                ajaxLogin()
            }
        });
        $("#submit").click(function (e) {
            ajaxLogin()
        })

    })
</script>