
@{
    ViewBag.Title = "Registration";
}

<!--================Header Menu Area =================-->
@Html.Partial("_HeaderComponent")
<!--================Header Menu Area =================-->
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Đăng kí</h2>
                <div class="page_link">
                    <a href="/Home/Index">Trang chủ</a>
                    <a href="/Home/Registration">Đăng kí</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Login Box Area =================-->
<section class="login_box_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                @Html.Partial("_ImgLoginRegisterComponent")
            </div>
            <div class="col-lg-6">              
                <div class="login_form_inner reg_form">
                    <h2>Tạo tài khoản</h2>
                    <form class="row login_form" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="pass" name="confirmpassword" placeholder="Xác nhận mật khẩu">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Nhớ mật khẩu</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div id="submit" class="btn submit_btn">Đăng kí</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
<!--================ start footer Area  =================-->
@Html.Partial("_FooterComponent")
<!--================ End footer Area  =================-->
<script src="~/Scripts/Home/registration.js"></script>
