<form class="cart_form_inner w-75 "
      action="/Admin/AddBook"
      method="post"
      style="box-shadow:none">
      
    <h3 class="m-3">Thêm Sách</h3>
    <div class="col-md-10 form-group mx-auto">
        <input class="col-md-12 form-control"
               name="nameBook"
               placeholder="Nhập tên sách"
               type="text" />
    </div>
    <div class="col-md-10 form-group mx-auto">
        <div class="left_dorp">
            <select id="formAddCategory"
                    class="sorting w-100 size "
                    name="categoryBook_ID">
                <option value="#">Thể Loại</option>
                @foreach (var element in ViewBag.categoryBook.Items)
                {
                    <option value="@element.C_id">@element.nameCategory</option>
                }
                <option value="">Thêm Thể Loại...</option>
            </select>
        </div>
    </div>
    <div class="col-md-10 form-group mx-auto">
        <div class="left_dorp">
            <select id="formAddPublishingHouse"
                    class="sorting w-100"
                    name="publishingHouseBook_ID">
                <option value="#">Nhà Xuất Bản</option>

                @foreach (var element in ViewBag.publishingHouseBook.Items)
                {
                    <option value="@element.C_id">@element.namePublishingHouse</option>
                }

                <option value="">Thêm Nhà Xuất Bản...</option>
            </select>
        </div>
    </div>
    <div class="col-md-10 form-group mx-auto">
        <textarea class="col-md-12 form-control"
                  name="contentBook"
                  placeholder="Nhập nội dung sách"
                  type="text"></textarea>
    </div>
    <div class="col-md-10 form-group mx-auto">
        <input class="col-md-12 form-control"
               name="countBook"
               placeholder="Số Lượng Sách"
               type="number" />
    </div>
    <div class="col-md-10 form-group mx-auto">
        <input class="col-md-12 form-control"
               name="priceBook"
               placeholder="Giá Sách"
               type="number" />
    </div>

    <div class="col-md-10 form-group mx-auto">
        <button class="btn submit_btn">Thêm Sách</button>
    </div>
</form>
<script>
    $('select').niceSelect();
    $(document).ready(function () {
        selectChange("#formAddCategory", "/Admin/AddCategoryItem","#loadForm")
        selectChange("#formAddPublishingHouse", "/Admin/AddPublishingHouse","#loadForm")
        $("#submit").click(function () {
            const nameB = $("#name").val()
            const contentB = $("#content").val()
            const priceB = $("#price").val()
            const countB = $("#count").val()
            const category = $("#formAddCategory").val()
            const publishinghouse = $("#formAddPublishingHouse").val()
            const objData = {
                nameBook: nameB,
                contentBook: contentB,
                priceBook: priceB,
                countBook: countB,
                categoryBook_ID: category,
                publishingHouseBook_ID: publishinghouse
            }
            $.ajax({
                url: "/Admin/ValidateBook",
                type: "POST",
                data: objData,
                dataType: "JSON",
                success: function (respone) {
                    if (respone.status == false)
                        notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "warning")
                    else {
                        notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "success")
                        setTimeout(function () {
                            window.location.href = '/' + respone.link.controllerName + '/' + respone.link.actionName + '';
                        }, 3300);
                    }
                }
            })
        })
    })

</script>

