<form id="load" class="cart_form_inner" action="/Admin/AddBook" method="post">
    <h2>Thêm Sách</h2>
    <div class="col-md-10 form-group mx-auto">
        <input class="col-md-12 form-control" name="nameBook" placeholder="Nhập tên sách" type="text" />
    </div>
    <div class="col-md-10 form-group  mx-auto">
        <textarea class="col-md-12 form-control  " name="contentBook" placeholder="Nhập nội dung sách" type="text"></textarea>
    </div>
    <div class="col-md-10 form-group mx-auto">
        <div class="left_dorp">
            <select id="formAddCategory" class="sorting size w-100" name="categoryBook_ID">
                <option value="#">Thể Loại</option>
                @foreach (var element in ViewBag.categoryBook.Items)
                {
                    <option value="@element.C_id">@element.nameCategory</option>
                }
                <option value="">Thêm Thể Loại...</option>
            </select>
        </div>
    </div>
    <div class="col-md-10 form-group  mx-auto">
        <div class="left_dorp">
            <select id="formAddPublishingHouse" class="sorting w-100" name="publishingHouseBook_ID" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                <option value="#">Nhà Xuất Bản</option>
                @foreach (var element in ViewBag.publishingHouseBook.Items)
                {
                    <option value="@element.C_id">@element.namePublishingHouse</option>
                }
                <option value="">Thêm Nhà Xuất Bản...</option>
            </select>

        </div>
    </div>
    <div class="col-md-10 form-group  mx-auto">
        <input class="col-md-12 form-control" name="countBook" placeholder="Số Lượng Sách" type="number" />
    </div>
    <div class="col-md-10 form-group  mx-auto">
        <input class="col-md-12 form-control" name="priceBook" placeholder="Giá Sách" type="number" />
    </div>

    <div class="col-md-10 form-group mx-auto">
        <button class="btn submit_btn">Thêm Sách</button>
    </div>
</form>
