
    <form id="load" class="cart_form_inner add" action="/Admin/AddCategoryItem" method="post">
        <h2 style="padding-top: 150px;">Thêm thể loại sách</h2>
        <div class="col-md-10 form-group mx-auto">
            <input class="col-md-12 form-control" name="nameCategory" placeholder="Nhập thể loại sách" type="text" />
        </div>
        <div class="col-md-10 form-group d-flex mx-auto">
            <button id="prePage" class="btn submit_btn">Trở về</button>
            <button class="btn submit_btn">Thêm Thể Loại Sách</button>
        </div>
    </form>