
<link rel="stylesheet" href="~/Content/css/azzara.css">
<link rel="stylesheet" href="~/Content/css/demo.css">
<div class="wrapper">
    <div class="main-header" data-background-color="purple">
        <!-- Logo Header -->
        <div class="logo-header">

            <a href="#" style="color:white; margin-right:10px">
                Admin
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-bars"></i>
                </span>
            </button>
        </div>
        <!-- End Logo Header -->
       
    </div>
    <!-- Sidebar -->
    <div class="sidebar">

        <div class="sidebar-wrapper scrollbar-inner">
            <div class="sidebar-content">
                <div class="user">
                    <div class="avatar-sm float-left mr-2">
                        <img src="~/Content/img/admin.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>
                    <div class="info" style="background:none !important">
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                            <span>
                                KenZy Lam
                                <span class="user-level">Administrator</span>
                                <span class="caret"></span>
                            </span>
                        </a>
                        <div class="clearfix"></div>

                        <div class="collapse in" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="#" id="profile">
                                        <span class="link-collapse">My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="logout">
                                        <span class="link-collapse">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="/Home/Index">
                            <i class="fas fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">Components</h4>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#base">
                            <i class="fas fa-layer-group"></i>
                            <p>Book</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="base">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="#" id="createBook">
                                        <span class="sub-item">Create Book</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="viewBook">
                                        <span class="sub-item">View Book</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="statisticalBook">
                                        <span class="sub-item">Statistical Book</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#user">
                            <i class="fas fa-user"></i>
                            <p>User</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="user">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="#" id="viewUser">
                                        <span class="sub-item">View User</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="statisticalUser">
                                        <span class="sub-item">Statistical User</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#billmanager">
                            <i class="fas fa-industry"></i>
                            <p>Bill</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="billmanager">
                            <ul class="nav nav-collapse">
                                <li class="active">
                                    <a href="/Admin/BillManagement">
                                        <span class="sub-item">Bill Management</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-panel" id="load_form" style="padding-top: 57px;">        
    </div>
</div>
<script src="~/Scripts/ready.js"></script>
<script src="~/Scripts/setting-demo.js"></script>
<script src="~/Scripts/Admin/index.js"></script>
