
<section class="row admin">
    <div class="col-2 h-100 dashboard">
        <div class="logo w-100 bg-info"></div>
        <div class="btn-group w-100 m-2">
            <button id="AddBook" class="btn btn-function w-100">Add Book</button>
        </div>

        <div class="btn-group w-100 m-2">
            <button id="AddCategory" class="btn btn-function w-100">Add Category</button>
        </div>

        <div class="btn-group w-100 m-2">
            <button id="AddPublishHouse" class="btn btn-function w-100">Add publish house</button>
        </div>

        <div class="btn-group w-100 m-2">
            <button id="ViewBook" class="btn btn-function w-100">View Book</button>
        </div>
        <div class="btn-group w-100 m-2">
            <a id="ViewBook" class="btn btn-function w-100" href="/Admin/BillManagement">Bill Management</a>
        </div>
        <div class="btn-group w-100 m-2">
            <button id="exit" class="btn btn-function w-100">Exit</button>
        </div>
    </div>
    <div class="col-10 h-100">
        <div id="loadForm"></div>
    </div>
</section>


<script>
$(document).ready(function () {
        $("#AddBook").click(function () {
            ajax("/Admin/AddBook", "#loadForm")
        })
        $("#ViewBook").click(function () {
            ajax("/Admin/viewBook", "#loadForm")
        })
        $("#AddCategory").click(function () {
            ajax("/Admin/AddCategoryItem", "#loadForm")
        })
        $("#AddPublishHouse").click(function () {
            ajax("/Admin/AddPublishingHouse", "#loadForm")
        })
        $("#exit").click(function () {
            $.ajax({
                url: "/Home/Logout",
                type: "GET",
                dataType: "JSON",
                success: function (response) {
                    if (response.status == false)
                        notify("Thông Báo", response.message, "fas fa-exclamation-circle", "warning")
                    else {
                        notify("Thông Báo", response.message, "fas fa-exclamation-circle", "success")
                        setTimeout(function () {
                            window.location.href = '/' + response.link.controllerName + '/' + response.link.actionName + '';
                        }, 3300);
                    }
                },

            })
        })
    });
</script>