
@{
    ViewBag.Title = "Category";
}



<!--================Header Menu Area =================-->
@Html.Partial("_HeaderComponent")
<!--================Header Menu Area =================-->
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Sản phẩm</h2>
                <div class="page_link">
                    <a href="/Home/Index">Trang chủ</a>
                    <a href="/Category/Index">Sản phẩm</a>
                    <!--<a href="category.html">Women Fashion</a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Category Product Area =================-->
<section class="cat_product_area section_gap">
    <div class="container-fluid">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="product_top_bar">
                    <div class="left_dorp">
                        <select class="sorting">
                            <option value="1">Sắp xếp theo</option>
                            <option value="2">Mới nhất</option>
                            <option value="3">Giá từ thấp đến cao</option>
                            <option value="4">Giá từ cao đến thấp</option>
                            <!--<option value="4">Default sorting 02</option>*-->
                        </select>

                    </div>
                    <div class="right_page ml-auto">
                        <nav class="cat_page" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-long-arrow-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item blank">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">6</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-long-arrow-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="latest_product_inner row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div  class="f_p_item book_items">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/img/book/book-cover/b-c-1.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Một đứa trẻ vừa chạy trốn khỏi tôi</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div  class="f_p_item book_items">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/img/book/book-cover/b-c-2.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Xu Xu đừng khóc</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div  class="f_p_item book_items">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/img/book/book-cover/b-c-3.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Một đứa trẻ vừa chạy trốn khỏi tôi</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div  class="f_p_item book_items">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/img/book/book-cover/b-c-4.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Có hai con mèo ngồi bên cửa sổ</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div  class="f_p_item book_items">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/img/book/book-cover/b-c-5.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Tôi thấy hoa vàng trên cỏ xanh</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div  class="f_p_item book_items">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/img/book/book-cover/b-c-6.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Thời gian tươi đẹp</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div  class="f_p_item book_items">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/img/book/book-cover/b-c-7.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Hai vạn dạm dưới đáy biển</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div  class="f_p_item book_items">
                            <div class="f_p_img">
                                <img class="img-fluid" src="~/Content/img/book/book-cover/b-c-8.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Nhà giả kim</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets cat_widgets">
                        <div class="l_w_title">
                            <h3>Top sản phẩm</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li class="active">
                                    <a href="#">Mới nhất</a>
                                </li>
                                <li>
                                    <a href="#">Bán chạy </a>
                                </li>
                             
                            </ul>
                        </div>
                    </aside>
                    <aside class="left_widgets cat_widgets">
                        <div class="l_w_title">
                            <h3>Thể loại sách</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li class="active">
                                    <a href="#">Truyện dài</a>
                                </li>
                                <li>
                                    <a href="#">Truyện ngắn</a>
                                </li>
                                <li>
                                    <a href="#">Tản văn</a>
                                </li>
                                <li>
                                    <a href="#">Tự truyện/Hồi ký</a>
                                </li>
                                <li>
                                    <a href="#">Truyện tranh</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Nhà xuất bản</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li>
                                    <a href="#">NXB Hội Văn Học</a>
                                </li>
                                <li>
                                    <a href="#">NXB Kim Đồng</a>
                                </li>
                                <li>
                                    <a href="#">NXB Nhã Nam</a>
                                </li>
                                <li class="active">
                                    <a href="#">NXB Phương Nam</a>
                                </li>
                                <li>
                                    <a href="#">NXB Trẻ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widgets_inner">
                            <h4>Giá thành</h4>
                            <div class="range_item">
                                <div id="slider-range"></div>
                                <div class="row m0">
                                    <label for="amount">Price : </label>
                                    <input type="text" id="amount" readonly>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

        <div class="row">
            <nav class="cat_page mx-auto" aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">01</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">02</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">03</a>
                    </li>
                    <li class="page-item blank">
                        <a class="page-link" href="#">...</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">09</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!--================End Category Product Area =================-->
<!--================ Subscription Area ================-->
@Html.Partial("_SubscriptionComponent");
<!--================ End Subscription Area ================-->
<!--================ start footer Area  =================-->
@Html.Partial("_FooterComponent")
<!--================ End footer Area  =================-->
